// selectores comunes a todo el proyecto
*{
    font-family: $mainFont;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    color: $mainColor;
}
h1{
    font-size: $textXl;
    margin-bottom: 10px 0;
}
h2{
    font-size: $textLg;
}
p{
    font-size: $textMd;
    line-height: 1.3em;
    font-weight: $textLight;
}
header img{
    width: 100%;
}

.card h2{
    color:$mainColor;
}

/* utilities del proyecto */
.text-dark{
    color: rgb(94, 95, 95);
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-italic{
    font-style: italic;
}
.text-bold{
    font-weight: 600;
}
.bg-gris{
    background-color: rgb(243, 245, 245);
}
.bg-pink{
    background-color:$mainColor;
    color:$white;
}
.bg-violet{
    background-color: map-get($map: $paleta, $key:'doce' );
}

.box-shadow{
    box-shadow: map-get($map: $paleta, $key:'trece' );
}

.container{
    background-color: pink;
    width: 90%;
    height: auto;
    overflow-y:auto;
    margin: 20px auto;
    padding: 20px 30px;
    border: solid 1px rgb(181, 179, 179);
}

.box-top{
    padding: 4px 0;
    text-align: center;
    color: gray;
    font-size: .9em;
}



.box-div{
    @include flex(row,center,flex-end, nowrap );
    background-color: $mainColor;
}

#noticias{
    @include flex(column,flex-start,center,wrap);
    font-family: $mainFont;
    margin: auto;
    padding: 10px 30px;
}

/*  ========= footer ========= */
footer{
    background-color:$mainColor;
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
    }
    svg{
        width: 30px;
        height: 30px;
        fill: $white;
        margin-right: 10px;
    }
    ul{
        li{
            list-style-type: none;
            a{
                color: $white;
                text-decoration: none;
                font-weight: $textLight;
                &:hover{
                    color: $keyColor;
                }
            }
        }
    }
}
    
   