// nesting - anidacion 
.botonera{
    background-color: $mainColor;
    a{
        color: $white;
        /*Subrayado animado*/
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
        &:hover{
            color:black;
            /*Subrayado animado*/
            background-size: 100% 2px;
        }
    }
    svg{
        fill: $white;
    }
    img{
        width: 150px;
        @media (min-width:280px) and (max-width:340px){
            width: 98px;
        }
    }
    li{
        margin-right: 20px;
    }
}

