//variables globales
$mainColor:deeppink;
$secondaryColor: rgb(91, 89, 89);
$keyColor:rgb(18, 17, 17);
$white:rgb(235, 229, 229);
$pink:#ef51e2;

//fonts
$mainFont:'Roboto', sans-serif;

//weight
$textRegular:400;
$textLight:300;
$textBold:600;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;


$width:100vw;
$height:40vh;

$lang:mx;
